<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-collapse collapse justify-content-start">
            <ul class="navbar-nav me-auto" style="margin-left: 350px;"> <!-- Ajustez cette valeur pour centrer les jeux -->
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_rps' %}active{% endif %}" href="{{ path('app_rps') }}">Chifoumi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'app_gold' %}active{% endif %}" href="{{ path('app_gold') }}">Au 79</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'start_game' %}active{% endif %}" href="{{ path('start_game') }}">Mystery Quest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if app.request.get('_route') == 'start_game' %}active{% endif %}" href="{{ path('start_game') }}">Imagimot</a>
                </li>
            </ul>
        </div>
        <div class="ms-auto" style="margin-right: -400px;"> <!-- Ajustez cette valeur pour aligner à droite -->
            <ul class="navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
